# dependencies
node_modules

# logs
npm-debug.log
yarn-error.log
*.log

# generate
dist

# MacOSX
.DS_Store
.AppleDouble
.LSOverride

# Editor directories and files
.idea
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity
